[package]
name = "analyzer"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.43"
rand = "0.10.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
tokio = { version = "1.49.0", features = ["full"] }
